
{% for region in listeRegions %}
    {% set jsRegion = region.getJsregion() %}
    <a id="liste_{{ jsRegion }}" onmouseover="hoverRegion(this, '{{ jsRegion }}')" 
       onmouseout="outRegion(this, '{{ jsRegion }}')"
       href="{{ path('locazik_annonce_listerRegion', { 'nomRegion': region.getUrlregion() }) }}">
        {{ region.nomRegion }}
    </a><br />
{% endfor %}
<div class="clear"></div>