{# src/Locazik/AnnonceBundle/Resources/views/Categorie/liste.html.twig #}

{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} - Liste Catégorie{% endblock %}

{% block body %}
<h2>Liste des catégorie</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Dernière modification</th>
            <th>Nombre d'annonces liées</th>
            <th>Online/Offline</th>
            <th>Editer/Supprimer</th>
        </tr>
    </thead>
    <tbody>
    {% for categorie in listeCategories %}
    {# { dump(categorie.parent) } #}
    <tr id="{{ 'line_'~categorie.id }}" class="{#{ 'lineChild_'~categorie.parent.id }#}">
        <td>
        <a href="{{ path('locazik_categorie_modifier', { 'id': categorie.id }) }}">
            {{ categorie.categorieName|e }}
        </a>
        </td>
        <td>
            {{ categorie.dateUpdate|date('d-m-Y') }}
        </td>
        <td>
            {% if categorie.parent is not null %}
                {{ categorie.parent.getCategorieName() }}
            {% endif %}
        </td>
        <td>
            {% if categorie.isOnline == true %}
                <span class="label label-success">Online</span>
            {% else %}
                <span class="label label-danger">Offline</span>
            {% endif %} 
        </td>
        <td>
            <a href="{{path('locazik_categorie_modifier', {id: categorie.id}) }}" class="btn btn-info btn-default">Editer <i class="icon-pencil"></i></a>
            <input type="button" value="Supprimer" onclick="removeCategorieConfirm({{categorie.id}});" class="btn btn-danger btn-default remove_fields" />
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br />
<a href="{{ path('locazik_categorie_ajouter') }}" class="btn btn-info btn-default">Ajouter une nouvelle catégorie <i class="icon-plus"></i></a>


{% block javascripts %}
{{ parent() }}
{% endblock %}

<script type="text/javascript">
    var removeCategorieConfirm = function(id) {
        BootstrapDialog.show({
            type: BootstrapDialog.TYPE_DANGER,
            title: 'Confirmation',
            message: 'Etes-vous sur de vouloir supprimer l\'enregistrement ?',
            buttons: [{
                label: 'Annuler',
                action: function(dialogRef){    
                    dialogRef.close();
                }
            }, {
                cssClass: 'btn-danger',
                label: 'Confirmer',
                action: function(dialogRef){    
                    removeCategorie(id);
                    dialogRef.close();
                }
            }]
        }); 
    }
    
    var removeCategorie = function (id) {
        $.post( "{{ path('locazik_categorie_supprimer') }}", { id: id } );
        $('#line_'+id).slideUp();
        $('.lineChild_'+id).slideUp();
    }
</script>

{% endblock %}